@import '../../../assets/styles/mixins';
@import '../../../assets//styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type='text'] {
  width: 100%;
  padding: 1.5em;

  font: 1rem;
  color: $font-color-primary-80;

  background-color: $background-color-secondary;
  border: 1px solid $background-color-secondary;
  border-radius: 8px;
  outline: none;
}

.input:focus,
.input:active {
  background-color: $background-color-secondary;
  border: 1px solid $border-color-active;
}

.input::placeholder {
  color: $font-color-primary-60;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.applied-promocodes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1rem;

  .applied-promo {
    @include flex-start-space-between;

    align-items: center;
  }
}
