.myswiper {
  width: 600px;
  height: 600px;
  margin-bottom: 1em;
  border-radius: 16px;

  & img {
    cursor: pointer;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.thumbs {
  width: 600px;
  height: calc((600px - 16px * 4) / 5);

  & img {
    cursor: pointer;
    width: calc((600px - 16px * 4) / 5);
    height: calc((600px - 16px * 4) / 5);
    border-radius: 8px;
  }
}

.modalswiper {
  width: 800px;
  height: 800px;
  margin: 40px auto;

  & img {
    cursor: pointer;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.modalopen {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  &::after {
    content: '';

    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(22 23 32 / 90%);
  }
}

.modalhide {
  display: none;
}

.close-button {
  cursor: pointer;

  position: fixed;
  z-index: 5;
  top: 36px;
  right: 36px;

  width: 24px;
  height: 24px;

  opacity: 0.6;
  background-color: transparent;
  background-image: url('../../assets/images/icons/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}
