@use '../../assets/styles/mixins' as *;

.catalog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 4em auto 1em;

  @media (width >= 1800px) {
    width: calc(90% - 6em);
  }

  @media (width <= 1799px) {
    width: calc(100% - 6em);
  }
}
