@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.discount-section {
  max-width: 1440px;
  margin: 10em auto 0;

  .title {
    @include font-firs-regular;

    font-size: 4.5rem;
    line-height: 100%;
    color: $font-color-home-title;
    text-transform: uppercase;

    .accent-text {
      color: $font-color-primary;
    }

    @media (width <= 1200px) {
      font-size: 4em;
    }

    @media (width <= 680px) {
      font-size: 3.2em;
    }
  }

  .products-block {
    padding: 4.6rem 0;
  }
}

.active-class {
  max-width: 17rem;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgb(62 69 230 / 100%) 0%, rgb(62 69 230 / 0%) 60%);
    border-radius: 1.5rem;
  }
}

.swiper-cont {
  position: relative;
  width: 1440px;
  padding: 2rem 0;

  @media (width <= 1390px) {
    width: 75rem;
  }

  @media (width <= 1150px) {
    width: 60rem;
  }

  @media (width <= 900px) {
    width: 50rem;
  }

  @media (width <= 760px) {
    width: 38rem;
  }

  @media (width <= 500px) {
    width: 22.5em;
  }
}

.swiper-cont .swiper-wrapper .swiper-slide {
  position: relative;
  max-width: 17rem !important;
}
