@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.discount-section {
  max-width: 1440px;
  margin: 10em auto 0;

  .title {
    @include font-firs-regular;

    font-size: 4.5rem;
    line-height: 100%;
    color: $font-color-home-title;
    text-transform: uppercase;

    .accent-text {
      color: $font-color-primary;
    }

    @media (width <= 1200px) {
      font-size: 4em;
    }

    @media (width <= 680px) {
      font-size: 3.2em;
    }
  }
}
