@use '../../assets/styles/mixins' as *;

@import '../../assets/styles/variables';

.product-page {
  @include page-layout-container;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-info-wrapper {
  padding: 0 6em;
}

.title {
  @include font-display-medium;

  font-size: 36px;
  line-height: 1.2;
  color: $font-color-primary;
}

.description {
  margin: 1.5em 0 3em;
}

.price {
  display: inline-block;
  margin-right: 0.6em;
  font-size: 24px;
}

.discount {
  text-decoration: line-through;
  opacity: 0.6;
}
