@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.badge {
  @include font-display-medium;

  display: inline-block;

  padding: 6px 8px 5px;

  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  border-radius: 4px;
}

.badge-bestseller {
  background-color: #009a9a;
}

.badge-discount {
  background-color: #5629a0;
}
