@import '../../../assets//styles/mixins';
@import '../../../assets//styles/variables';

.wrapper {
  @include flex-justify-center;
  flex-direction: column;

  .personal-section {
    @include flex-justify-center;
    flex-direction: row;
    gap: 1.5em;
    width: 100%;
    align-items: stretch;
    margin-top: 1.375em;

    .personal-section-wrapper {
      @include form-background-gradient;

      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;
      border-radius: 24px;
      padding: 2.813em;

      .personal-section-group {
        @include flex-center-space-between;
        flex-direction: row;
        gap: 7.5em;
      }
    }

    .personal-section-button {
      padding: 0.781em 1em;
      border-radius: 24px;
      border: 1px solid $border-color-default;
      max-width: 11em;
      background: none;
      color: $font-color-primary-60;
      font: inherit;
      margin-left: auto;
      cursor: pointer;
    }
  }
}
