@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.email-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
