@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.best-product-section {
  @include flex-center-space-between;

  flex-direction: row;
  align-items: start;

  width: 80%;
  max-width: 1440px;
  margin: 5em auto 2em;

  .welcome-section {
    flex-basis: 50%;
    height: auto;

    .title {
      @include font-firs-regular;

      font-size: 4em;
      line-height: 100%;
      color: $font-color-home-title;
      text-transform: uppercase;

      .accent-text {
        color: $font-color-primary;
      }

      @media (width <= 1300px) {
        font-size: 3em;
      }

      @media (width <= 440px) {
        font-size: 2.4em;
      }
    }
  }

  @media (width <= 1540px) {
    width: 100%;
    margin: 0;
    padding: 5em 7em;
  }

  @media (width <= 1360px) {
    gap: 0.6em;
    padding: 5em 3em;
  }

  @media (width <= 1170px) {
    padding: 5em 0;
  }

  @media (width <= 1060px) {
    flex-wrap: wrap;
    gap: 6em;
    justify-content: center;

    .welcome-section {
      @include flex-justify-center;

      flex-basis: 100%;
      flex-direction: column;
      width: 100%;
      text-align: center;

      .progress-wrapper {
        width: 400px;
        margin: 0 auto;
      }
    }
  }
}

.bar {
  position: relative;
  left: 3.4px;
  transform: scale(1.7);

  width: 1px;
  height: 70%;

  vertical-align: top;

  background: linear-gradient(180deg, rgb(220 235 234 / 10%), rgb(220 235 234 / 50%) 50%, rgb(21 26 25 / 40%) 100%);
}

.bestseller-block {
  @include flex-justify-start;

  flex-direction: row;
  gap: 0.6em;

  @media (width <= 670px) {
    @include flex-justify-center;
    flex-direction: column;
  }
}

.progress {
  height: 150px;
  margin: 5em 1em;
  text-align: center;

  .circle {
    position: relative;

    display: block;

    width: 0.5em;
    height: 0.5em;

    background: transparent;
    background-color: #dcebea;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgb(255 255 255 / 40%);

    .title {
      @include font-arimo-regular;

      transform: translateY(-14%);

      display: block;

      width: 19em;
      padding-bottom: 2.813em;
      padding-left: 2em;

      font-size: 1.3em;
      line-height: 1.2em;
      color: $font-color-primary-40;
      text-align: start;
      text-transform: capitalize;

      &.meteorite {
        max-width: 11.5em;
      }
    }
  }

  .bar {
    display: block;
    width: 1px;
    height: 60px;
    border-radius: 40px;
  }
}

.navigation-button {
  @include flex-center-space-between;

  cursor: pointer;

  gap: 1.5em;

  padding: 1.5em;

  font-size: 1.2em;
  color: $font-color-primary;

  background-color: $bg-color-btn-default;
  border: none;
  border-radius: 0.4em;
  outline: none;

  transition: background-color 0.5s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    background-color: $bg-color-btn-hover;
  }
}
