@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.registration-form {
  @include form-background-gradient;

  display: flex;
  flex-direction: column;
  gap: 2em;

  min-width: 45%;
  padding: 4.5em 7.125em;

  border: 1px solid $border-color-default;
  border-radius: 24px;

  .form-group {
    display: inline-flex;
    flex-direction: row;
    gap: 1.5em;
    width: 100%;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .required {
    font: inherit;
    color: $font-color-warning;
  }
}

.date-picker {
  padding: 1.125em;
  margin: 0;
  font: 0.875rem;
  background-color: $background-color-secondary;
  border: 1px solid $background-color-secondary;
  border-radius: 0.5em;
  outline: none;
  color: $font-color-primary-60;
}

.date-picker:hover,
.date-picker:focus,
.date-picker:active {
  color: $font-color-primary-60;
  background-color: $background-color-secondary;
  border: 1px solid $border-color-active;
}
