@use '../../assets/styles/mixins' as *;

@import '../../assets/styles/variables';

.header {
  @include flex-center-space-between;

  position: sticky;
  top: 0;
  width: 100%;
  background-color: $background-color-primary-one;
}

.ns-logo {
  width: 110px;
  height: 30px;
}

.icon-placeholder {
  position: relative;
  width: 60px;
  height: 60px;

  & .dot {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 6px;
    height: 6px;

    background-color: $font-color-primary-40;
    border-radius: 50%;

    &::after {
      content: '';

      position: absolute;
      left: 18px;

      display: block;

      width: 6px;
      height: 6px;

      background-color: $font-color-primary-40;
      border-radius: 50%;
    }

    &::before {
      content: '';

      position: absolute;
      right: 18px;

      display: block;

      width: 6px;
      height: 6px;

      background-color: $font-color-primary-40;
      border-radius: 50%;
    }
  }
}
