@use '../../assets/styles/mixins' as *;

.category {
  @include page-layout-container;

  flex-direction: column;

  &-header {
    @include flex-center-space-between;
  }

  .products {
    @include flex-center-space-between;

    &-block {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      align-items: stretch !important;

      width: 80%;
      padding: 2em 0;
    }
  }
}
