@use '../../assets/styles/mixins' as *;
@import '../../assets/styles/variables';

.footer {
  display: flex;
  background-color: $bg-footer-color;
  flex-direction: column;
  padding: 3em 0;
  gap: 4.313em;
  position: relative;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 3rem;

  .logo-wrapper {
    min-width: calc(100% / 3);
  }

  .navigation-wrapper {
    flex-grow: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .wrapper-text {
      @include font-firs-regular;
      color: $font-color-primary-40;
      font-size: 0.875em;
      line-height: 1.125em;
    }
  }

  @media (width <= 640px) {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1em;
  }
}

.rs-logo {
  width: 80px;
  height: 40px;
}
