@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.nav {
  position: relative;
  transition: right 1s ease-in-out;

  .nav-list {
    display: flex;

    gap: 1.5em;

    list-style: none;

    .footer-nav-item {
      @include font-arimo-bold;

      cursor: pointer;
      display: block;
      padding: 0.625em 0.875em;
      color: $font-color-primary-60;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.5s ease;

      &:hover {
        color: $font-color-primary;
      }
    }
  }
}
