@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.wrapper {
  display: flex;
  gap: 1.5rem;
  width: 100%;

  @media (width <= 1366px) {
    flex-direction: column;
  }
}

.title {
  font-family: DisplayMedium, sans-serif;
  text-align: center;
}

.aside-wrapper {
  display: flex;
  flex-basis: 435px;
  flex-direction: column;
  gap: 1.5rem;

  @media (width <= 1366px) {
    flex-basis: auto;
    flex-direction: row;
    width: 100%;

    .summary-wrapper,
    .promocode-wrapper {
      flex-grow: 1;
    }
  }

  @media (width <= 900px) {
    flex-direction: column;
  }
}

.products-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-list-wrapper,
.summary-wrapper,
.promocode-wrapper {
  padding: 2.25rem;
  background-color: $background-color-primary-two;
  border-radius: 1.5rem;

  @media (width <= 640px) {
    padding: 1.5rem;
  }
}

.products-wrapper {
  flex-grow: 1;
  margin: 2rem 0;
}

.clear-all-wrapper {
  @include flex-center-space-between;

  flex-wrap: wrap;
  gap: 1rem;
}

.date-wrapper {
  display: flex;
  gap: 0.6rem;

  @media (width <= 480px) {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.date {
  color: $font-color-primary;
}
