@import '../../../assets/styles/mixins';
@import '../../../assets//styles/variables';

.toggle-cart-button-catalog {
  cursor: pointer;

  display: block;

  padding: 12px 16px;

  font-size: inherit;
  color: $checkbox-color-checked;
  text-decoration: none;

  background-color: transparent;
  border: 1px solid $border-color-default;
  border-radius: 24px;

  transition: 300ms;

  &:hover {
    color: $font-color-primary;
    background-color: $bg-color-btn-default;
    border: 1px solid $bg-color-btn-default;
  }
}
