@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2em;

  width: 60%;
  padding: 48px;

  color: white;

  border: 1px solid $border-color-default;
  border-radius: 24px;
}
