@use '../../assets/styles/mixins' as *;

.profile-content {
  @include flex-justify-center;
  padding: 2em 0;

  .profile-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 4.5em 7.125em;
    width: 83.75em;
  }
  .profile-section {
    @include flex-justify-center;
    flex-direction: row;
    gap: 1.5em;
  }
}
