@use '../../assets/styles/mixins' as *;

.profile-content {
  @include page-layout-container;
  padding: 1em 0;

  .profile-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0;
    width: 87.5em;
  }
}
