@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
}

.input {
  flex-grow: 1;
}

input[type='email'],
input[type='password'] {
  padding: 1.5em;

  font: 0.875em;

  background-color: $background-color-secondary;
  border: 1px solid $background-color-secondary;
  border-radius: 0.5em;
  outline: none;
}

.input:focus,
.input:active {
  background-color: $background-color-secondary;
  border: 1px solid $border-color-active;
}

.input::placeholder {
  color: $font-color-primary-60;
}

.label {
  font:
    1em DisplayMedium,
    sans-serif;
}

.label .required {
  font: inherit;
  color: $font-color-warning;
}

.btn-eye-icon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);

  display: flex;

  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;
}

.eye-icon {
  display: block;
}
