@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.nav {
  @include flex-center-space-between;

  position: relative;
  flex-grow: 1;
  transition: right 1s ease-in-out;

  .nav-list,
  .nav-list-user {
    @include flex-justify-center;

    gap: 1.5em;

    margin: 0;
    padding: 12px;

    list-style: none;

    border: 1px solid $border-color-default;
    border-radius: 36px;

    .nav-button {
      @include font-default-bold;

      font-size: inherit;
      line-height: inherit;
      background-color: transparent;
      border: none;
    }

    .nav-item,
    .nav-button,
    .profile-title {
      @include font-default-bold;

      cursor: pointer;

      display: block;

      padding: 0.625em 0.875em;

      color: $font-color-primary-60;
      text-decoration: none;
      text-transform: uppercase;

      border-radius: 24px;

      transition:
        background-color 0.5s ease,
        color 0.5s ease;

      &:hover {
        color: $font-color-primary;
        background-color: $bg-color-btn-default;
      }
    }

    .nav-item-profile {
      @include flex-justify-center;
      padding: 0;
      gap: 0.313em;

      .profile-wrapper {
        @include flex-justify-center;
        width: 42px;
        height: 42px;
        background: linear-gradient(#b2e3ff 0%, #a5a9ff 52%, #e0b9ff 100%);
        border-radius: 50%;
        padding: 0.75em;
        cursor: pointer;
        transition: transform 0.5s ease;

        &:hover {
          animation: spin 2s linear infinite;
        }
      }

      .profile-icon {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }
    }
  }

  .nav-list-user {
    position: relative;
    right: 0;
  }

  @media (width <= 1024px) {
    position: absolute;
    z-index: 1;
    top: 6em;
    right: -180%;

    width: 100%;
    height: calc(100vh - 6em);

    background-color: $background-color-primary-one;

    &.nav-open {
      right: 0;
    }

    & .nav-list {
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 24px;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
