@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.home-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.breadcrumbs-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;

  margin-top: 4em;
}

.breadcrumbs-link {
  font-family: DisplayMedium, sans-serif;
  font-size: 1em;
  line-height: 100%;
  color: $font-color-primary !important;

  opacity: 0.6;

  transition: opacity 0.5s ease;

  &:hover {
    opacity: 1;
  }
}
