@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

@font-face {
  font-family: DisplayRegular;
  src: url('../../../public/styles/fonts/display-regular.ttf') format(truetype);
}

@font-face {
  font-family: DisplayMedium;
  src: url('../../../public/styles/fonts/display-medium.ttf') format(truetype);
}

@font-face {
  font-family: "TT Firs Neue";
  src: url('../../../public/styles/fonts/firs-neue-regular.ttf') format(truetype);
}

@font-face {
  font-family: "TT Firs NeueMedium";
  src: url('../../../public/styles/fonts/firs-neue-medium.ttf') format(truetype);
}
