@import './variables';

@mixin page-layout-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  width: 100%;

  background-color: $background-color-primary-one;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90vw;
    height: 100%;
    margin: 0 auto;
  }
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-right {
  display: flex;
  justify-content: flex-end;
}
