$font-color-primary: #dcebea;
$font-color-primary-20: rgba(220 235 234 / 20%);
$font-color-primary-40: rgba(220 235 234 / 40%);
$font-color-primary-60: rgba(220 235 234 / 60%);
$font-color-primary-80: rgba(220 235 234 / 80%);
$font-color-warning: #fc8b68;
$background-color-primary-one: #161720;
$background-color-secondary: #35374a;
$background-color-accent: #3e45e6;
$border-color-default: rgba(220 235 234 / 20%);
$border-color-active: #747d88;
