$font-color-primary: #dcebea;
$font-color-primary-20: rgba(220 235 234 / 20%);
$font-color-primary-40: rgba(220 235 234 / 40%);
$font-color-primary-60: rgba(220 235 234 / 60%);
$font-color-primary-80: rgba(220 235 234 / 80%);
$font-color-warning: #fc8b68;
$font-color-warning-10: rgb(252 139 104 / 10%);
$font-color-link-default: #9ca0ff;
$font-color-link-hover: #bb9cff;
$font-color-title-dark: #46495e;
$background-color-primary-one: #161720;
$background-color-primary-two: #1f212d;
$background-color-secondary: #35374a;
$bg-color-btn-default: #3e45e6;
$bg-color-btn-hover: #2d35ee;
$border-color-default: rgba(220 235 234 / 20%);
$border-color-active: #747d88;
$checkbox-color-border: rgb(0 0 0);
$checkbox-color-checked: rgba(255 255 255);
$bg-color-bestseller: rgb(0 154 154);
$bg-color-discount: rgb(86 41 160);
