@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

:root {
  --sizeindex: calc(1vw + 1vh);
  --transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1);
}

.slider-wrapper {
  width: 100%;

  .slider-catalog {
    height: 250px;

    .slider-item {
      @include flex-justify-center;
      @include form-background-gradient;

      cursor: pointer;

      position: relative;

      overflow: hidden;
      justify-content: space-between;

      min-width: 300px;
      min-height: 190px;

      border: 1px solid $border-color-default;
      border-radius: 100px;

      transition: 300ms;

      &::after {
        content: url('../../assets/images/headerCatalog/category-bg-line.svg');
        position: absolute;
        bottom: -4%;
        left: 50%;
      }
    }

    .active {
      color: $font-color-primary !important;
      background-color: $bg-color-btn-default;
    }
  }
}

.slider-img {
  will-change: transform;

  position: relative;

  min-width: 160px;
  height: 80%;
  min-height: 160px;

  background-size: contain;
  border-radius: 5px;

  transition: var(--transition) !important;
}

.slider-title {
  max-width: 40%;
  margin: 0 2em;
  font-family: DisplayRegular, sans-serif;
  color: #fff;

  @media (width >= 1800px) {
    font-size: calc(var(--sizeindex) * 0.7);
  }

  @media (width <= 1800px) {
    font-size: calc(var(--sizeindex) * 0.8);
  }
}

.space-suits {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/space-suits.png') 100% / cover no-repeat;
  background-position: center;
}

.space-photos-and-wall-art {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/space-photos-and-wall-art.png') 100% / cover no-repeat;
  background-position: center;
}

.meteorite {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/meteorite-catregory-img.png') 100% / cover no-repeat;
  background-position: center;
}

.space-memorabilia {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/space-memorabilia.png') 100% / cover no-repeat;
  background-position: center;
}

.astronomical-equipment {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/equipment-category-img.png') 100% / cover no-repeat;
  background-position: center;
}

.space-food {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/food-category-img.png') 100% / cover no-repeat;
  background-position: center;
}

.astro-kits {
  position: relative;
  z-index: 2;
  background: url('../../assets/images/headerCatalog/astro-kits.png') 100% / cover no-repeat;
  background-position: center;
}

// .nasa-museum-ticket {
// position: relative;
// z-index: 2;
//   background: url(../../assets/images/headerCatalog/nasa-museum-ticket.png) no-repeat;
//   background-position: center;
// }
